<img id="burger-pic" src="./assets/img/burger.png">

<h1>Eat Dat Burger!</h1>

<form class="create-update-form" action="/" method="POST">

<div class="form-group">
	<label class="sr-only">What Are You Craving Today?</label>
		<textarea name="burger-text" placeholder="Enter Your Burger Here" 
			class="burger-text" id="burger-text"></textarea>
</div>

  <button type="submit">Get Dat Burger!</button>
</form>
